.checkout{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -30vw;
    width: 30vw;
    height: 100vh;
    z-index: 40;
    transition: .2s linear;
    overflow-y: scroll;
    &.show{
        right: 0;
    }
    &__box{
        padding: 60px 50px;
    }
    &__close{
        width: fit-content;
        margin-bottom: 90px;
        margin-left: auto;
    }
    &__title{
        font-family: 'Jost';
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__group{
        padding: 20px 0px;
    }
    &__subtitle{
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__input{
        padding: 7px 0px;
        input{
            border: 1px solid rgba(242, 242, 242, 1);
            padding: 10px 40px;
            font-size: 18px;
            line-height: 150%;
            height: 54px;
            border-radius: 30px;
            width: 100%;
            outline: 0;
        }
    }
    &__row{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        .item{
            width: 25%;
            flex-basis: 25%;
            &__top{
                font-size: 18px;
                line-height: 140%;
            }
            &__bot{
                input{
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid rgba(242, 242, 242, 1);
                    outline: 0;
                    font-size: 18px;
                    line-height: 140%;
                }
            }
        }
    }
    &__comment{
        margin: 60px 0px 30px;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 140%;
        &.big{
            font-size: 34px;
            font-weight: 700;
            margin-top: 30px;
        }
    }
    &__offer{
        margin: 30px 0px 40px;
        span{
            white-space: break-spaces;
            font-size: 18px;
        }
    }
    &__apply{
        button{
            color: #fff;
            height: 58px;
            width: 100%;
            font-size: 18px;
            border-radius: 30px;
            background: rgba(255, 138, 30, 1);
        }
    }
    &__info{
        color: rgba(125, 125, 125, 1);
        margin: 20px 0px 40px;
    }
    &__cont{
        font-size: 18px;
    }
    &__img{
        img{
            width: 100%;
        }
    }
}