@import '../main.scss';

.header-bot{
    padding: 25px 0px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 25;
    @include tr(.2s);
    &__box{
        @include df-aic;
    }
    &__left{
        flex-basis: 8.3%;
        width: 8.3%;
        @include df-aic;
    }
    &__logo{
        max-width: 0px;
        overflow: hidden;
        @include tr(.2s);
    }
    &__right{
        flex: 1;
        @include df-aic;
    }
    &__search{
        @include df-aic;
        flex: 1;
        position: relative;
        &__input{
            flex-basis: 95%;
            width: 95%;
            input{
                width: 100%;
                padding: 15px 30px;
                border: 1px solid #d6d6d6;
                border-radius: 30px 0px 0px 30px;
                border-right: 0;
                font-size: 18px;
                background: 0;
                @include tr(.2s);
                &::placeholder{
                    color: #7D7D7D;
                }
                &:focus{
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
                    outline: 0;
                    border-radius: 30px 0px 0px 0px;
                }
            }
        }
        &__results{
            position: absolute;
            left: 0;
            top: 100%;
            background-color: rgb(255, 255, 255);
            width: 100%;
            padding: 15px 30px;
            border-radius: 0px 0px 30px 30px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
            border: 1px solid #d6d6d6;
            border-top: 0;
            .list{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .item{
                    &__box{
                        display: flex;
                        padding: 10px;
                    }
                    &__img{
                        img{
                            width: 80px;
                        }
                    }
                    &__text{
                        margin-left: 15px;
                        display: flex;
                        flex-direction: column;
                    }
                    &__title{
                        font-size: 22px;
                        font-weight: 500;
                    }
                    &__cat{
                        margin-top: auto;
                        color: #454545;
                        font-size: 15px;
                        margin-top: 5px;
                    }
                    &__price{
                        margin-left: auto;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
        &__btn{
            flex: 1;
            width: 100%;
            height: 54px;
            @include tr(.2s);
            button{
                width: 100%;
                height: 100%;
                @include df-aic-jcc;
                border: 1px solid #d6d6d6;
                border-radius: 0px 30px 30px 0px;
                border-left: 0;
                @include tr(.2s);
                svg{
                    path{
                        @include tr(.2s);
                    }
                }
                &:hover{
                    background-color: $colorYellow;
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
                &:active{
                    background-color: darken($colorYellow, 4%);
                }
            }
            &.active{
                button{
                    border-radius: 0px 30px 0px 0px;
                }
            }
        }
    }
    &__options{
        max-width: 0px;
        overflow: hidden;
        @include tr(.2s);
    }
    &.alt{
        background-color: #F8F8F8;
        padding: 15px 0px;
        .header-bot__left, .header-bot__right{
            flex-basis: unset;
            width: unset;
        }
        .header-bot__logo{
            max-width: 400px;
        }
        .header-bot__menu{
            margin: 0px 30px;
        }
        .header-bot__options{
            max-width: 700px;
        }
    }

    /* ====================================================================== */
    /* Mobile 1366 */
    /* ====================================================================== */
    @media (max-width: 1366px) {
        padding: 15px 0px;
        &__menu{
            button{
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        &__search{
            &__input{
                input{
                    padding: 10px 20px;
                }
            }
            &__btn{
                height: 44px;
                button{
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    /* ====================================================================== */
    /* Mobile 768 */
    /* ====================================================================== */
    @media (max-width: 768px) {
        &__search{
            &__input{
                flex-basis: 90%;
                width: 90%;
            }
        }
    }

    /* ====================================================================== */
    /* Mobile 500 */
    /* ====================================================================== */
    @media (max-width: 500px) {
        position: relative;
        display: none;
    }
}