.menu{
    position: fixed;
    width: 100vw;
    top: 205px;
    background-color: rgb(255, 255, 255);
    @include tr(.2s);
    z-index: 40;
    height: 0px;
    overflow: hidden;
    .container{
        height: 100%;
        overflow-y: scroll;
    }
    &.show{
        height: calc(100vh - 205px);
        &.alt, &.top{
            height: calc(100vh - 84px);
        }
    }
    &.alt{
        top: 84px;
    }
    &.top{
        top: 84px;
    }
    &__box{
        padding: 40px 0px;
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 100px 20px;
        .item{
            &__img{
                display: flex;
                overflow: hidden;
                border-radius: 10px;
                width: 100%;
                img{
                    @include tr(.2s);
                    width: 100%;
                    height: 220px;
                    object-position: center;
                    object-fit: cover;
                }
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
            &__subTitle{
                font-weight: 700;
            }
            &__list{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .subItem{
                    &__box{
                        line-height: 140%;
                        padding: 0px 10px;
                    }
                }
            }
        }
    }


    @media (max-width: 1440px) {
        &__list{
            grid-template-columns: 1fr 1fr 1fr;
            .item{
                &__img{
                    img{
                        height: 200px;
                    }
                }
            }
        }
    }


    @media (max-width: 1366px) {
        top: 135px;
        &.show{
            height: calc(100vh - 135px);
            &.alt, &.top{
                height: calc(100vh - 135px);
            }
        }
        &.top{
            top: 72px;
        }
        &__list{
            gap: 60px 20px;
            .item{
                &__list{
                    gap: 8px;
                }
            }
        }
    }


    @media (max-width: 1024px) {
        top: 135px;
        &.show{
            height: calc(100vh - 135px);
            &.alt, &.top{
                height: calc(100vh - 135px);
            }
        }
        &.top{
            top: 72px;
        }
        &__list{
            gap: 40px 20px;
        }
    }
}