@import '../../main.scss';
@import '@splidejs/vue-splide/css';

.productCard{
    position: absolute;
    &__box{
        padding: 25px;
        border-radius: 30px;
        background: linear-gradient(98deg, #FFF 0%, #FFF 100%);
        border: 1px solid #EDEDED;
        // position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        @include tr(.2s);
        &:hover{
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09) inset;
            border-color: #ffffff;
            .productCard__extra{
                max-height: 50px;
            }
        }
    }
    /* ====================================================================== */
    /* Top Section */
    /* ====================================================================== */
    &__top{
        padding-bottom: 10px;
        position: relative;
    }
    &__img{
        display: flex;
        justify-content: center;
        .splide{
            a{
                img{
                    width: 100%;
                }
            }
            &__pagination{
                bottom: 10px;
                background-color: #F3F3F3;
                border-radius: 10px;
                margin: auto;
                width: fit-content;
                padding: 0;
                li{
                    line-height: 0;
                }
                &__page{
                    background-color: #fff;
                    opacity: 1;
                    margin: 2px;
                    &.is-active{
                        transform: none;
                        background-color: $colorYellow;
                    }
                }
            }
        }
    }
    &__discount{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $colorRed;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 190%;
        width: 45px;
        height: 45px;
        @include df-aic-jcc;
        border-radius: 50%;
    }
    /* ====================================================================== */
    /* Bottom Section */
    /* ====================================================================== */
    &__bot{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }
    &__title{
        font-size: 18px;
        font-weight: 400;
        line-height: 180%;
        @include tr(.2s);
        @include oh(2);
        &:hover{
            color: $colorYellow;
        }
    }
    &__cat{
        color: #454545;
        font-size: 14px;
        font-weight: 400;
        line-height: 180%;
        @include tr(.2s);
        &:hover{
            color: #000;
        }
    }
    &__old{
        color: #7D7D7D;
        font-size: 14px;
        font-weight: 400;
        line-height: 180%;
        text-decoration: line-through;
    }
    &__more{
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__new{
        font-size: 30px;
        font-weight: 700;
        line-height: 32px;
        span{
            font-weight: 400;
            font-size: 18px;
        }
    }
    &__extra{
        max-height: 0px;
        overflow: hidden;
        @include tr(.2s);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__quant{
        display: flex;
        align-items: center;
        gap: 10px;
        &__cur{
            font-weight: 700;
        }
    }
    &__cart{
        padding: 10px;
        border-radius: 50%;
        background-color: $colorYellow;
        display: flex;
        align-items: center;
        justify-content: center;
        &.alt{
            pointer-events: none;
            background-color: #a7a7a7;
        }
    }
    /* ====================================================================== */
    /* Alt */
    /* ====================================================================== */
    &.alt{
        position: relative;
        .productCard{
            &__box{
                flex-direction: row;
                gap: 35px;
                padding: 0;
                border: 0;
                &:hover{
                    box-shadow: none;
                }
            }
            &__top, &__bot{
                flex-basis: unset;
                padding: 0;
            }
            &__logo{
                img{
                    width: 175px;
                }
            }
            &__head{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__count{
                display: flex;
                align-items: center;
                gap: 15px;
                &__cur{
                    font-size: 18px;
                    font-weight: 700;
                }
                &__down{
                    &.alt{
                        pointer-events: none;
                    }
                }
            }
            &__title{
                font-size: 18px;
                font-weight: 700;
                line-height: 140%;
            }
            &__art{
                font-size: 18px;
                line-height: 140%;
            }
            &__cat{
                font-size: 18px;
                color: #5a5a5a;
            }
            &__new{
                font-size: 24px;
                span{
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            &__del{
                button{
                    font-size: 18px;
                    line-height: 140%;
                    color: #7d7d7d;
                    @include tr(.2s);
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
    &.small{
        .productCard{
            &__logo{
                img{
                    width: 90px;
                }
            }
            &__title{
                font-weight: 400;
            }
            &__art{
                font-size: 14px;
                line-height: 160%;
            }
            &__new{
                font-size: 18px;
                line-height: 160%;
                span{
                    font-size: 18px;
                }
            }
            &__count{
                display: none;
            }
            &__head{
                .productCard__cart{
                    padding: 7px;
                }
            }
        }
    }

    /* ====================================================================== */
    /* Desktop 1366 */
    /* ====================================================================== */
    @media (max-width: 1366px) {
        &__box{
            padding: 20px;
        }
        &__discount{
            font-size: 14px;
            width: 35px;
            height: 35px;
        }
        &__title{
            font-size: 16px;
            line-height: 150%;
        }
        &__cat, &__old{
            font-size: 12px;
        }
        &__new{
            font-size: 24px;
        }
        &.alt{
            .productCard__box{
                gap: 20px;
            }
            .productCard__logo{
                img{
                    width: 150px;
                }
            }
        }
        &.small{
            .productCard__top{
                height: fit-content;
                align-self: center;
            }
            .productCard__logo{
                img{
                    width: 100px;
                }
            }
        }
    }

    /* ====================================================================== */
    /* Tablet 768 */
    /* ====================================================================== */
    @media (max-width: 768px) {
        &__box{
            border-radius: 20px;
            padding: 15px;
        }
        &__title{
            font-size: 14px;
            line-height: 120%;
        }
        &__new{
            font-size: 18px;
            line-height: 24px;
            span{
                font-size: 12px;
            }
        }
    }

    /* ====================================================================== */
    /* Mobile 500 */
    /* ====================================================================== */
    @media (max-width: 500px) {
        &__box{
            padding: 10px;
        }
        
        &__cat, &__old{
            font-size: 10px;
        }
        &__new{
            font-size: 16px;
        }
        &__quant{
            gap: 8px;
            &__down, &__up{
                svg{
                    width: 12px;
                }
            }
            &__cur{
                font-size: 12px;
            }
        }
        &__cart{
            padding: 8px;
            border-radius: 50%;
            background-color: $colorYellow;
            svg{
                width: 15px;
                height: 15px;
            }
        }
        &.alt{
            .productCard{
                &__box{
                    gap: 15px;
                    *{
                        font-size: 16px;
                    }
                }
                &__top{
                    height: fit-content;
                    align-self: center;
                }
                &__logo{
                    img{
                        width: 100px;
                    }
                }
                &__art{
                    font-size: 14px;
                }
                &__cat{
                    font-size: 14px;
                }
                &__new{
                    span{
                        font-size: 16px;
                    }
                }
                &__del{
                    button{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}